<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <noscript>
        <style>.yesscript { display: none !important; }</style>
    </noscript>

    <link rel="preload" href="/script/words.js" as="script">
    <link rel="stylesheet" href="/font/inter.css">
    <link rel="preload" href="/style.css" as="style">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/cat.gif" type="image/gif">
</head>

<body>
<div class="page">
    <div class="stripe"></div>
    <div class="content">
        {{ content | safe }}
    </div>
</div>
</body>

<!-- analytics -->
<script src="/_vercel/insights/script.js"></script>

</html>
