---
layout: base.liquid
---

<header>
    <section class="profile">
        <img src="/img/nela.png" alt="portrait of nela with added cat ears" class="portrait">
        <h1 class="profile__text">
            nela is <br>
            <a href="#" class="word"><noscript>silly</noscript><span class="yesscript">&NonBreakingSpace;</span></a>
        </h1>
    </section>

    <section class="elsewhere">
        <a href="/blog" title="nela blog">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><title>nela blog</title><path d="M483-74q-85 0-159.5-32T193-194q-56-56-88-130.5T73-484q0-151 96-264.5T415-888q-17 99 10.5 194.5T525-527q71 72 166.5 99.5T887-417q-25 149-139 246T483-74Zm266-519-47-104-105-47 105-47 47-105 47 105 104 47-104 47-47 104Z"/></svg>
        </a>
        <a href="https://github.com/nyabla" title="github">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
        </a>
        <a href="https://matrix.to/#/@nabla:fairydust.space" title="matrix">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Matrix</title><path d="M.632.55v22.9H2.28V24H0V0h2.28v.55zm7.043 7.26v1.157h.033c.309-.443.683-.784 1.117-1.024.433-.245.936-.365 1.5-.365.54 0 1.033.107 1.481.314.448.208.785.582 1.02 1.108.254-.374.6-.706 1.034-.992.434-.287.95-.43 1.546-.43.453 0 .872.056 1.26.167.388.11.716.286.993.53.276.245.489.559.646.951.152.392.23.863.23 1.417v5.728h-2.349V11.52c0-.286-.01-.559-.032-.812a1.755 1.755 0 0 0-.18-.66 1.106 1.106 0 0 0-.438-.448c-.194-.11-.457-.166-.785-.166-.332 0-.6.064-.803.189a1.38 1.38 0 0 0-.48.499 1.946 1.946 0 0 0-.231.696 5.56 5.56 0 0 0-.06.785v4.768h-2.35v-4.8c0-.254-.004-.503-.018-.752a2.074 2.074 0 0 0-.143-.688 1.052 1.052 0 0 0-.415-.503c-.194-.125-.476-.19-.854-.19-.111 0-.259.024-.439.074-.18.051-.36.143-.53.282-.171.138-.319.337-.439.595-.12.259-.18.6-.18 1.02v4.966H5.46V7.81zm15.693 15.64V.55H21.72V0H24v24h-2.28v-.55z"/></svg>
        </a>
        <a href="https://librarything.com/catalog/nyabla/yourlibrary" title="librarything">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>LibraryThing</title><path d="M8.16 0h7.68c2.66 0 3.508 0 4.708.4 1.4.5 2.552 1.65 3.052 3.05.4 1.2.4 2.05.4 4.71v7.68c0 2.66 0 3.51-.4 4.71a5.04 5.04 0 0 1-3.05 3.05c-1.2.4-2.05.4-4.71.4H8.16c-2.66 0-3.51 0-4.71-.4A5.043 5.043 0 0 1 .4 20.55C0 19.35 0 18.5 0 15.84V8.16C0 5.5 0 4.65.4 3.45A5.04 5.04 0 0 1 3.45.4C4.65 0 5.5 0 8.16 0zm2.834 6.682v-.297l-.023-.321c0-.092-.03-.23-.091-.412a1.552 1.552 0 0 1-.092-.481c0-.092.038-.168.115-.23a5.55 5.55 0 0 0 .24-.194c.1-.084.24-.126.424-.126.107 0 .282.015.527.046.214 0 .374-.046.481-.138.046-.03.13-.091.252-.183s.183-.199.183-.32c0-.2-.11-.36-.332-.482-.221-.122-.5-.183-.836-.183l-.94.069c-.213 0-.618.05-1.214.149-.595.099-1.061.149-1.397.149a5.04 5.04 0 0 1-.7-.08 5.174 5.174 0 0 0-.79-.08c-.168.06-.34.118-.515.171-.176.053-.263.134-.263.24l.045.207c.092.198.23.35.413.458l.183.091c.092.03.168.046.23.046.075 0 .19-.007.343-.023.122 0 .237.03.343.092l.252.229c.123.137.21.271.264.4.053.13.08.249.08.356 0 .076-.015.206-.046.39a2.86 2.86 0 0 0-.046.434c0 .138.035.336.104.596.068.26.103.473.103.641-.016.26-.023.52-.023.78v.778c0 .198.015.458.046.779.03.32.045.572.045.755l-.045.962-.023 1.535-.07 1.26c0 .168.031.39.093.664.06.275.091.496.091.664 0 .168-.023.382-.069.642-.045.26-.068.465-.068.618 0 .076.007.176.023.298a.808.808 0 0 1 0 .275.56.56 0 0 1-.126.263 37.9 37.9 0 0 1-.218.264c-.137.168-.29.297-.458.389-.168.092-.405.145-.71.16-.306.016-.527.08-.665.195-.137.115-.206.202-.206.263 0 .397.367.596 1.1.596l.16-.023a35.207 35.207 0 0 1 1.317-.137c.222-.016.478-.023.768-.023h.275c.275.015.55.023.825.023h2.2c.213-.016.415-.035.606-.058a4.37 4.37 0 0 1 .516-.034c.198 0 .473.05.825.149.35.1.649.133.893.103.015 0 .103-.023.264-.069a1.69 1.69 0 0 1 .47-.068c.014 0 .118.011.308.034.191.023.348.034.47.034.061 0 .168-.015.32-.046.383-.076.65-.221.803-.435a.767.767 0 0 0 .16-.435 3.704 3.704 0 0 1-.069-.435 2.77 2.77 0 0 1 0-.504c.077-.153.16-.305.252-.458.077-.199.13-.47.16-.813.031-.344.058-.573.081-.687a2.79 2.79 0 0 1 .195-.527c.107-.237.16-.44.16-.607a.974.974 0 0 0-.114-.481c-.077-.138-.176-.206-.298-.206-.077 0-.199.068-.367.206-.076.06-.141.175-.195.343a2.778 2.778 0 0 1-.126.344c-.183.275-.366.542-.55.802a3.768 3.768 0 0 0-.229.435c-.152.32-.274.542-.366.664-.03.046-.153.16-.367.344a1.124 1.124 0 0 0-.217.24c-.07.1-.165.256-.287.47l-.39.206-.274.069a1.894 1.894 0 0 0-.367.114c-.152.061-.267.1-.343.115a1.571 1.571 0 0 1-.298.022c-.138 0-.344-.022-.619-.068a4.242 4.242 0 0 0-.664-.069l-.481.023c-.55 0-.955-.298-1.215-.893-.168-.382-.297-.978-.39-1.787a2.327 2.327 0 0 1-.022-.366c0-.123.008-.329.023-.619 0-.076.019-.237.057-.48a4.07 4.07 0 0 0 .057-.596v-1.604c0-.137.008-.313.023-.527.016-.213.023-.366.023-.458a2.14 2.14 0 0 0-.023-.343c0-.092-.03-.222-.091-.39a1.244 1.244 0 0 1-.092-.389c0-.076.015-.183.046-.32.03-.138.046-.245.046-.321 0-.168-.008-.397-.023-.688a13.83 13.83 0 0 1-.023-.687c0-.198.03-.442.092-.733a3.6 3.6 0 0 0 .091-.71z"/></svg>
        </a>
        <a href="https://queer.party/@ari666" title="mastodon" rel="me">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Mastodon</title><path d="M23.268 5.313c-.35-2.578-2.617-4.61-5.304-5.004C17.51.242 15.792 0 11.813 0h-.03c-3.98 0-4.835.242-5.288.309C3.882.692 1.496 2.518.917 5.127.64 6.412.61 7.837.661 9.143c.074 1.874.088 3.745.26 5.611.118 1.24.325 2.47.62 3.68.55 2.237 2.777 4.098 4.96 4.857 2.336.792 4.849.923 7.256.38.265-.061.527-.132.786-.213.585-.184 1.27-.39 1.774-.753a.057.057 0 0 0 .023-.043v-1.809a.052.052 0 0 0-.02-.041.053.053 0 0 0-.046-.01 20.282 20.282 0 0 1-4.709.545c-2.73 0-3.463-1.284-3.674-1.818a5.593 5.593 0 0 1-.319-1.433.053.053 0 0 1 .066-.054c1.517.363 3.072.546 4.632.546.376 0 .75 0 1.125-.01 1.57-.044 3.224-.124 4.768-.422.038-.008.077-.015.11-.024 2.435-.464 4.753-1.92 4.989-5.604.008-.145.03-1.52.03-1.67.002-.512.167-3.63-.024-5.545zm-3.748 9.195h-2.561V8.29c0-1.309-.55-1.976-1.67-1.976-1.23 0-1.846.79-1.846 2.35v3.403h-2.546V8.663c0-1.56-.617-2.35-1.848-2.35-1.112 0-1.668.668-1.67 1.977v6.218H4.822V8.102c0-1.31.337-2.35 1.011-3.12.696-.77 1.608-1.164 2.74-1.164 1.311 0 2.302.5 2.962 1.498l.638 1.06.638-1.06c.66-.999 1.65-1.498 2.96-1.498 1.13 0 2.043.395 2.74 1.164.675.77 1.012 1.81 1.012 3.12z"/></svg>
        </a>
        <a href="https://commons.wikimedia.org/wiki/User:Lilbitmessy" title="wikimedia commons">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Wikimedia Commons</title><path d="M9.048 15.203a2.952 2.952 0 1 1 5.904 0 2.952 2.952 0 0 1-5.904 0zm11.749.064v-.388h-.006a8.726 8.726 0 0 0-.639-2.985 8.745 8.745 0 0 0-1.706-2.677l.004-.004-.186-.185-.044-.045-.026-.026-.204-.204-.006.007c-.848-.756-1.775-1.129-2.603-1.461-1.294-.519-2.138-.857-2.534-2.467.443.033.839.174 1.13.481C15.571 6.996 11.321 0 11.321 0s-1.063 3.985-2.362 5.461c-.654.744.22.273 1.453-.161.279 1.19.77 2.119 1.49 2.821.791.771 1.729 1.148 2.556 1.48.672.27 1.265.508 1.767.916l-.593.594-.668-.668-.668 2.463 2.463-.668-.668-.668.6-.599a6.285 6.285 0 0 1 1.614 3.906h-.844v-.944l-2.214 1.27 2.214 1.269v-.944h.844a6.283 6.283 0 0 1-1.614 3.906l-.6-.599.668-.668-2.463-.668.668 2.463.668-.668.6.6a6.263 6.263 0 0 1-3.907 1.618v-.848h.945L12 18.45l-1.27 2.214h.944v.848a6.266 6.266 0 0 1-3.906-1.618l.599-.6.668.668.668-2.463-2.463.668.668.668-.6.599a6.29 6.29 0 0 1-1.615-3.906h.844v.944l2.214-1.269-2.214-1.27v.944h-.843a6.292 6.292 0 0 1 1.615-3.906l.6.599-.668.668 2.463.668-.668-2.463-.668.668-2.359-2.358-.23.229-.044.045-.185.185.004.004a8.749 8.749 0 0 0-2.345 5.662h-.006v.649h.006a8.749 8.749 0 0 0 2.345 5.662l-.004.004.185.185.045.045.045.045.185.185.004-.004a8.73 8.73 0 0 0 2.677 1.707 8.75 8.75 0 0 0 2.985.639V24h.649v-.006a8.75 8.75 0 0 0 2.985-.639 8.717 8.717 0 0 0 2.677-1.707l.004.004.187-.187.044-.043.043-.044.187-.186-.004-.004a8.733 8.733 0 0 0 1.706-2.677 8.726 8.726 0 0 0 .639-2.985h.006v-.259z"/></svg>
        </a>
        <a href="https://www.inaturalist.org/people/cranberryharvest" title="iNaturalist">
            <svg version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>iNaturalist</title><path d="m3.6321 7.6154c6.6976 0.682 11.963 3.1242 15.794 7.3262 0.1495 0.164 0.5648 0.6278 0.8822 0.513 0.3174-0.1149 0.7047-0.8337 0.8742-1.084 0.266-0.3931 1.0879-1.7875 2.8766-2.3618 1.7889-0.5743 4.0555 0.0648 4.1379 0.093 0.1547 0.0532 0.3108 0.1229 0.2217 0.2474s-0.8465 0.4241-1.361 1.4027c-0.5504 1.047-0.874 3.0725-0.9533 3.5189-0.3127 1.8384-1.0624 3.543-2.1467 4.9916-1.9076 2.5488-4.8511 4.3054-8.272 4.6047-1.8702 0.1636-3.6755-0.1265-5.3072-0.7791 1.9773-0.193 4.3704-1.1267 6.2928-3.3621 2.4256-2.8205-0.2289-1.3561-2.5082-1.7294-1.5969-0.2615-2.8968-1.0778-5.0783-3.8385 0.69981-0.1946 2.0794-0.432 3.1922-0.4793-2.0583-0.4702-4.7889-1.7651-5.9971-3.7601 0.97092-0.335 2.2486-0.2134 3.2693-0.1693-3.8879-2.3273-5.5647-3.5811-5.9173-5.1341zm9.2907-2.5269c0.2297 0.11141 3.6937 1.6074 5.3665 3.8478 2.3371 3.1299 2.4236 6.145 1.7889 5.4558-1.4917-1.6194-2.8629-2.6564-4.5587-3.8191-1.2983-0.8901-2.166-3.4272-2.5967-5.4845zm12.033 7.6255c-0.329 0.0288-0.5723 0.3187-0.5435 0.6477 0.0288 0.3289 0.3188 0.5722 0.6477 0.5435 0.3289-0.0288 0.5722-0.3188 0.5435-0.6477-0.0288-0.329-0.3188-0.5723-0.6477-0.5435z" fill-rule="evenodd"/></svg>
        </a>
        <a href="https://tilde.town/~nabla" title="tilde.town">
            <svg width="32" height="32" fill="none" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><title>tilde.town</title><path d="m8 0c-4.4183 0-8 3.5817-8 8v16c0 4.4183 3.5817 8 8 8h16c4.4183 0 8-3.5817 8-8v-16c0-4.4183-3.5817-8-8-8h-16zm0.49146 15.068c-0.41663 0.8409-0.60981 1.9167-0.57953 3.2272h2.875c-0.0151-0.9772 0.1667-1.6742 0.5455-2.0908 0.3864-0.4243 0.8712-0.6364 1.4545-0.6364 0.4016 0 0.7614 0.0985 1.0796 0.2954 0.3181 0.1894 0.7424 0.5152 1.2727 0.9773 0.8182 0.7121 1.5493 1.2348 2.1932 1.5682 0.6439 0.3258 1.3484 0.4886 2.1136 0.4886 0.8485 0 1.6288-0.2007 2.3409-0.6023 0.7198-0.4014 1.2879-1.0227 1.7046-1.8636 0.4242-0.8409 0.6212-1.9204 0.5909-3.2386h-2.875c0.0151 0.9015-0.1629 1.5833-0.5341 2.0454-0.3637 0.4546-0.8523 0.6818-1.4659 0.6818-0.4016 0-0.7651-0.0984-1.0909-0.2954-0.3258-0.2046-0.7463-0.5303-1.2614-0.9773-0.8257-0.7273-1.5606-1.25-2.2045-1.5681-0.6439-0.3258-1.3448-0.4887-2.1023-0.4887-0.856 0-1.6402 0.2045-2.3523 0.6137-0.71211 0.4014-1.2803 1.0227-1.7045 1.8636z" clip-rule="evenodd" fill-rule="evenodd"/></svg>
        </a>
        <a href="https://ko-fi.com/nyabla" title="ko-fi">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Ko-fi</title><path d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z"/></svg>
        </a>
    </section>
</header>

<main>
    {{ content }}
</main>

<footer class="box">
    <iframe class="sillycity" src="https://silly.city/embed.html?user=nela" title="silly.city webring" frameborder="no"></iframe>

    <div class="buttons">
        <a href="/"><img src="/img/nyabla.png" alt="heart icon - nyabla.net"></a>
        <a href="//daydreamy.neocities.org" title="amy &lt;3"><img src="/img/Amyweb.png" alt="Amy"></a>
        <a href="//w.wiki/7vP"><img src="/img/nobiney.png" alt="non-binary pride flag"></a>
        <a href="//validator.w3.org/nu/?doc=https%3A%2F%2Fwww.nyabla.net%2F"><img src="/img/bad-html.gif" alt="bad html markup"></a>
        <a href="//23exe.bandcamp.com/track/ochatime"><img src="/img/mikuproved.gif" alt="this site is miku approved"></a>
        <a href="/img/rollup.gif"><img src="/img/miaow.gif" alt="miaow!"></a>
        <a href="/img/korner.gif"><img src="/img/kitten88.gif" alt="kitten's korner"></a>
        <img src="/img/vocaloid.gif" alt="vocaloid now!">
        <img src="/img/transrats.gif" alt="trans rats">
        <img src="/img/forever_online.gif" alt="forever online">
        <img src="/img/nya.gif" alt="neko-scape '98 nyan!" title="nyaaa~~">
        <iframe src="//incr.easrng.net/badge?key=nyablanet" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
    </div>
</footer>

<script src="script/words.js"></script>
