---
layout: blog_layout.liquid
title: nelz blog
---
<link rel="stylesheet" href="/post-block.css">

<h1>
    recent posts
</h1>

{% if collections.post == null %}
    <p><i>no posts :(</i></p>
{% else %}
    <ul>
        {% for post in collections.post %}
            <a href="{{ post.url }}">
                <li>
                    <h2>{{ post.data.title }}</h2>
                    <p>last updated: {{ post.date }}</p>
                </li>
            </a>
        {% endfor %}
    </ul>
{% endif %}


