---
import { Image } from "astro:assets"
import nelar from '../assets/nelar.png'

const nelaInfo = {
    name: "nela",
    pronouns: "they/she",
    status: "silly :3",
}
---
<div class="not-prose border border-black p-1 box-border flex space-x-2 flex-row items-center">
    <div class="size-40 relative flex-grow-0 flex-shrink-0">
        <Image src={nelar} alt="a portrait of nela with cat ears" class="size-full" />
        <img src="/img/sparkle.gif" class="absolute top-3 right-5" alt="">
        <img src="/img/sparkle.gif" class="absolute bottom-2 left-3" alt="">
    </div>
    <dl class="font-mono flex flex-wrap h-fit flex-row">
        {Object.entries(nelaInfo).map(([key, value]) =>
            <>
                <dt class="font-bold basis-2/5">{key}</dt>
                <dd class="basis-3/5">{value}</dd>
            </>
        )}
    </dl>
</div>