---
import { Image } from "astro:assets"
import nelar from '../assets/nelar.png'

const nelaInfo = {
    name: "nela",
    pronouns: "they/she",
    status: "silly :3",
}
---
<div class="not-prose border border-black p-1 box-border flex gap-2 md:flex-row items-center flex-col md:w-full w-fit md:mx-0 mx-auto">
    <div class="md:size-40 size-48 relative flex-grow-0 flex-shrink-0">
        <Image src={nelar} alt="a portrait of nela with cat ears" class="size-full" />
        <img src="/img/sparkle.gif" class="absolute top-3 right-5 render-pixels" alt="">
        <img src="/img/sparkle.gif" class="absolute bottom-2 left-3 render-pixels" alt="">
    </div>
    <table class="font-mono h-fit table-fixed w-max-full">
        {Object.entries(nelaInfo).map(([key, value]) =>
            <tr>
                <th scope="row" class="text-left">{key}</th>
                <td class="pl-4">{value}</td>
            </tr>
        )}
    </dl>
</div>