<div class="not-prose border border-black box-border p-1">
    <iframe title="silly city webring" src="https://silly.city/embed.html?user=nela" class="w-full h-16 mb-2"></iframe>
    <div class="flex flex-wrap justify-center gap-1 render-pixels">
        <a href="/"><img src="/img/btn/nyabla.png" alt="heart icon - nyabla.net"></a>
        <a href="//daydreamy.neocities.org" title="amy &lt;3"><img src="/img/btn/Amyweb.png" alt="Amy"></a>
        <a href="//w.wiki/7vP"><img src="/img/btn/nobiney.png" alt="non-binary pride flag"></a>
        <a href="//validator.w3.org/nu/?doc=https%3A%2F%2Fwww.nyabla.net%2F"><img src="/img/btn/bad-html.gif" alt="bad html markup"></a>
        <a href="//23exe.bandcamp.com/track/ochatime"><img src="/img/btn/mikuproved.gif" alt="this site is miku approved"></a>
        <a href="/img/rollup.gif"><img src="/img/btn/miaow.gif" alt="miaow!"></a>
        <a href="/img/korner.gif"><img src="/img/btn/kitten88.gif" alt="kitten's korner"></a>
        <img src="/img/btn/vocaloid.gif" class="render-auto" alt="vocaloid now!">
        <a href="//transrats.neocities.org"><img src="/img/btn/transrats.gif" alt="trans rats"></a>
        <img src="/img/btn/forever_online.gif" alt="forever online">
        <img src="/img/btn/nya.gif" alt="neko-scape '98 nyan!" title="nyaaa~~">
        <iframe src="//incr.easrng.net/badge?key=nyablanet" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
    
    </div>
</div>