---
const nav = {
    home: "/",
}
import SillyFooter from '../components/SillyFooter.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nyabla.net</title>
</head>
<body>

<div class="max-w-screen-md w-fit mx-auto px-4 py-6 font-sans flex md:flex-row flex-col">
    <img src="/img/kitty.svg" class="size-28 md:sticky md:top-6 flex-none" alt="">
    <div class="md:grow max-w-md md:max-w-full">
        <header class="md:mt-4 mb-8">
            <h1 class="md:text-7xl text-6xl font-display font-black text-nyabla-pink mb-4">nyabla.net</h1>
            <nav class="font-medium flex gap-2 text-stone-800">
                {Object.entries(nav).map(([name, link]) =>
                    <a href={link} class="hover:underline active:text-stone-600">{name}</a>
                )}
            </nav>
        </header>
        <div class="prose max-w-none text-stone-800 prose-li:marker:text-stone-600"><slot /></div>
    </div>
    <div class="md:w-28 md:block flex-none">
</div>

    
</body>
</html>